<footer
  id="footer"
  style="padding: 20px"
  class="bg-dark d-flex justify-content-between fixed-bottom"
>
  <div class="text-white">&copy; 2024 - BarberShop</div>
  <div>
    <a href="#" class="text-white me-4">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#" class="text-white me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="text-white me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="#" class="text-white">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</footer>
