<fieldset>
  <form id="frmUpdateTeam">
    <div class="form-group">
      <input type="hidden" name="id" th:value="${fill.id}" />
    </div>
    <div class="form-group">
      <label class="form-label">Name</label>
      <input
        class="form-control"
        type="text"
        name="name"
        th:value="${fill.name}"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Select Role:</label>
      <select id="role" name="role" class="form-control">
        <option value="" disabled selected>Select a role</option>
        <option
          th:each="role : ${roles}"
          th:value="${role}"
          th:text="${role}"
        ></option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Price</label>
      <input
        class="form-control"
        type="text"
        name="phone"
        th:value="${fill.phone}"
      />
    </div>
    <div class="form-group">
      <label class="form-label">Price</label>
      <input
        class="form-control"
        type="text"
        name="email"
        th:value="${fill.email}"
      />
    </div>
    <div class="form-group">
      <label class="form-label">Select Status:</label>
      <select id="status" name="status" class="form-control">
        <option value="" disabled selected>Select a role</option>
        <option
          th:each="status : ${status}"
          th:value="${status}"
          th:text="${status}"
        ></option>
      </select>
    </div>
    <div>
      <button type="submit" class="mt-3 btn btn-primary" value="Save">
        <i class="fas fa-save"></i>
        Save
      </button>
    </div>
  </form>
</fieldset>
<script>
  $("#frmUpdateTeam").validate({
    errorClass: "text-danger",
    rules: {
      name: {
        required: true,
      },
      role: {
        required: true,
      },
      phone: {
        required: true,
      },
      email: {
        required: true,
      },
      status: {
        required: true,
      },
    },
  });
  $("#frmUpdateTeam").submit(function (e) {
    e.preventDefault();
    if ($("#frmUpdateTeam").valid()) {
      $.ajax({
        url: "/teams/update",
        type: "post",
        data: $("#frmUpdateTeam").serialize(),
        dataType: "json",
        beforeSend: () => {},
        success: function (res) {
          debugger;
          console.log(res);
          location.reload();
        },
        error: function (err) {
          debugger;
          alert("gagal " + err);
          console.log(err);
        },
      });
    }
  });
</script>
